
header > div > a > .banner {
    height: 70px;
    padding: 10px;
}



header .disabled{
  color: currentColor;
  cursor: default;
  opacity: 0.5;
  text-decoration: none;
}

header .bannerContainer a{
 cursor:pointer;
}

header .bannerContainer{
  width:300px;
}

header .welcomeMessage{
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:20px;
}


  header {
    width: 1280px;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    box-sizing:content-box;
    padding-top:20px;
}
    header button{
        justify-content: center;
        align-items: center;
        border: 1px solid #B9D1BE !important;
        border-radius: 8px !important;
        margin-right:10px !important;
    }

    header .buttons{
      width: 305px;
      display:flex;
      flex-direction:row-reverse;
  }

    header .navigation a{
        width: 100px;
        margin: 30px;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 18px;
    }

    header .enabled{
        color: #10902C;
        border-bottom: 3px solid #10902C;
    }

    header .enabled2{
      color: #10902C;
    }

    #root{
      padding-bottom:10px;
    }


@media only screen and (max-width: 899px){

  header{
    width:100vw;
    justify-content: center;
    padding-top:30px;
  }

  header #BottomNavigationContainer{
    display: none;
  }

  header .navigation{
    display:none;
  }

  header .buttons{
    display:none;
  }
 
}