#MainContainer{
    width: 1280px;
    margin:auto;
    margin-top:40px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing:content-box;
}

#MainContainer .adminSection{
    width:1280px;
    margin:10px;
    display:flex;
    flex-direction: row;
}
